*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

@mixin cont1(){
    @media screen and (max-width:1150px) {
        @content;
    }
}
@mixin cont2(){
    @media screen and (max-width:900px) {
        @content;
    }
}
@mixin headeru(){
    @media screen and (max-width:680px) {
        @content;
    }
}
@mixin header(){
    @media screen and (max-width:550px) {
        @content;
    }
}

header {
    background-color: #24252a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 125px;
    @include headeru(){
        flex-direction: column;
    }
    @include header(){
        width: 100%;
        flex-direction: column;
    }
    nav{
        @include header(){
            padding: 5 5px;
        }
    }
    .li {
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    .avegacion {
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    .logo {
        cursor: pointer;
    }
    .nav_links {
        list-style: none;
        li {
            display: inline-block;
            padding: 0 20px;
            a{
                color: #fdfdfd;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: #0088a9;
                }
            }
        }
    }
    .cta {
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    button {
        padding: 9px 25px;
        background-color: rgb(0, 136, 169);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: rgb(0, 136, 169);
            box-shadow: 0 0 15px #0088a9;
            box-shadow: 0 0 45px #0088a9;
            box-shadow: 0 0 75px #0088a9;
        }
        @include header(){
            padding: 5px;
            font-size: 16px;
        }
    }
}




/*HOME*/


.cont-1{
    background-color: #9aadbf;
    border-right: solid 5px black;
    border-left: solid 5px black;
    width: 1150px;
    margin: auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px 30px;
    place-content: space-evenly space-evenly;
    place-items: center center;
    @include cont1(){
        place-content: space-evenly space-evenly;
        place-items: center center;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 900px;
    }
    @include cont2(){
        place-content: space-evenly space-evenly;
        place-items: center center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 550px;
    }
    @include header(){
        place-content: space-evenly space-evenly;
        place-items: center center;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 400px;
    }
    @include header(){
        place-content: space-evenly space-evenly;
        place-items: center center;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 360px;
    }

    img{
        height: 354px;
        width: 230px;
    }
    .img{
        box-sizing: border-box;
        background-color: white;
        border: solid 3px whitesmoke;
        border-radius: 3px;
        height: 360px;
        width: 236px;
    }
}




/*Contactos*/

@mixin contacto(){
    @media screen and (min-width:700px) {
        @content;
    }
}

@mixin cambiofaq(){
    @media screen and (max-width:460px) {
        @content;
    }
}


.contact {
    font-family: "Quicksand", sans-serif;
    background-image: url(../img/berserk3.webp);
    background-size: cover;
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 0 24px;
    @include cont2(){
        background-image: url(../img/Berserkph.jpg);
        background-position: center;
        background-size: cover;
    }
    @include headeru(){
        background-image: url(../img/Berserkph.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    @include cambiofaq(){
        background-image: url(../img/Berserkph.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 24px;
    }
    .LC {
        text-align: center;
        font-size: 48px;
        span {
            color: #d63031;
        }
    }
    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
        @include contacto(){
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 2em;
        }
    }
      .contact-wrapper > * {
        padding: 1em;
    }
    .contact-form {
        background-color: #222222;
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .block {
                grid-column: 1/3;
            }
            p {
                margin: 0;
                padding: 1em;
            }
            button {
                width: 100%;
                padding: 0.7em;
                border: none;
                background: none;
                border-bottom: 1px solid #7c0c0c;
                outline: none;
                color: #050505;
                background-color: red;
                border: 0;
                text-transform: uppercase;
                padding: 1em;
                animation: pulse 1.5s infinite;
                @keyframes pulse {
                    0%{
                        transform: scale(.99);
                        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.1);
                    }
                    70%{
                        transform: scale(.99);
                        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0.1);
                    }
                    100%{
                        transform: scale(.99);
                        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0.1);
                    }
                }
                &:hover,:focus {
                    background-color: #d63031;
                    color: #fff;
                    transition: background-color 1s ease-out;
                    outline: 0;
                }
            }
            input {
                width: 100%;
                padding: 0.7em;
                border: none;
                background: none;
                border-bottom: 1px solid #d63031;
                outline: none;
                color: #fff;
            }
            textarea {
                width: 100%;
                padding: 0.7em;
                border: none;
                background: none;
                border-bottom: 1px solid #d63031;
                outline: none;
                color: #fff;
            }
        }
    }
    .contact-info {
        background-color: #000;
        h4 {
            text-align: center;
            margin: 0 0 1rem 0;
            @include contacto(){
                text-align: left;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            @include contacto(){
                text-align: left;
            }
            li {
                padding: 0.3em;
                a{
                    text-decoration: none;
                    color: white;
                }
                i{
                    padding: 5px;
                }
            }
        }
        p {
            text-align: center;
            margin: 0 0 1rem 0;
            @include contacto(){
                text-align: left;
            }
        }
    }
    .navct{
        grid-column: -3/-1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            display: inline-block;
            margin-top: 10px;
            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 40px;
                padding: 5px;
                font-weight: 500;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: darkred;
                }
            }
        }
        
    }
}




/*FAQ*/


.contenedor{
    background-color: #C4D7E6;
    text-align: center;
    background-image: url(../img/vagabon-amb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    width: 100%;
    @include cambiofaq(){
        background-image: url(../img/vagabonph.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h2{
        padding: 20px;
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 40px;

    }
    .faq{
        padding: 20px;
    }
    summary{
        font-size: 20px;
    }
    p{
        font-size: 15px;
        font-family: sans-serif;
        color: #000;
    }
    button{
        padding: 10px 10px;
        background-color: rgb(68, 188, 218);
        border: solid 1px black;
        border-radius: 10px;
        cursor: pointer;
        width: 200px;
    }
}


/*COMIC y MANGA*//*Merchandaising*/


@mixin karrusel(){
    @media screen and (max-width:368px) {
        @content;
    }
}
@mixin karrusel2(){
    @media screen and (max-width:546px) {
        @content;
    }
}

.bloque{
    background-image: url(../img/fondomarvel.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    @include karrusel(){
        height: 100%;
    }
    .Karrusel-tamaño{
    width: 500px;
    height: 700px;
    @include karrusel2(){
        width: 400px;
    }
    @include karrusel(){
        width: 360px;
    }
    }
    .slide{
        margin-top: 50px;
    }
    img{
        height: 65vh;
    }
    a{
        text-decoration: none;
    }
}




/*Footer*/
footer{
    background-color: #24252a;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include header(){
        flex-direction: column;
        padding: 5px;
    }

    .logo{
        height: 7vh;
    }
    .logotipo{
        font-size: 25px;
        font-weight: 400;
        color: white;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
    }
    p{
        font-size: 15px;
    }
    span{
        font-size: 30px;
    }
    i{
        text-decoration: none; color: white;
        margin: px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
        transition: .3 ease;
    }
    .fa-youtube{
        background-color: red;
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: red;
            color: white;
            box-shadow: 0 0 15px red;
            box-shadow: 0 0 45px red;
            box-shadow: 0 0 75px red;
        }
    }
    
    .fa-instagram{
        background-color: rgb(189, 42, 91);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(217, 44, 154);
            color: white;
            box-shadow: 0 0 15px rgb(217, 44, 154);
            box-shadow: 0 0 45px rgb(217, 44, 154);
            box-shadow: 0 0 75px rgb(217, 44, 154);
        }
    }
    
    
    .fa-whatsapp{
        background-color: rgb(37, 187, 37);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(53, 214, 39);
            color: white;
            box-shadow: 0 0 15px rgb(53, 214, 39);
            box-shadow: 0 0 45px rgb(53, 214, 39);
            box-shadow: 0 0 75px rgb(53, 214, 39);
        }
    }
    
    
    .fa-linkedin{
        background-color: rgb(43, 97, 184);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(28, 70, 177);
            color: white;
            box-shadow: 0 0 15px rgb(28, 70, 177);
            box-shadow: 0 0 45px rgb(28, 70, 177);
            box-shadow: 0 0 75px rgb(28, 70, 177);
        }
    }
    
}


















