*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

@mixin media(){
    @media screen and (max-width:1150px) {
        @content;
    }
}

header{
    background-color: #24252a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 30px 10%; */
    /* height: 10vh; */
    height: 150px;
    width: 100%;
    /*Cuando agrego el witdht deja de ser responsive , pero cuando lo sacó es responsive solo hasta 1146px y cuando declaro las media querys no me funcionan y no encuentro ni entiendo el porque no funcionan, probe intentando cambiar el color de fondo para ver si funcionaban y nada */

    @include media(){
        width: 1150px;
    }

    .li{
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    .avegacion{
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    .logo{
        cursor: pointer;
    }

    .nav_links{
        list-style: none;
    }

    .nav_links li{
        display: inline-block;
        padding: 0 20px;
    }
    .nav_links li a:hover{
        color: #0088a9;
    }
    .cta{
        font-family: "Montserrat";
        font-family: sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    }
    button{
        padding: 9px 25px;
        background-color: rgba(0,136,169,1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: rgba(0,136,169,1);
        }
    // }
    // button:hover{
    //     background-color: rgba(0,136,169,1);
    // }
}
}








/*HOME*/


.homecm{
    background-color: aliceblue;
}






.cont-1{
    background-color: #9aadbf;
    /* height: 80vh; */
    /* border-bottom: solid 5px black; */
    border-right: solid 5px black;
    border-left: solid 5px black;
    /* height: 80vh; */
    width: 1150px;
    margin: auto;
    padding: 20px 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 80px 30px;
    /* justify-content: space-evenly;
    align-content: space-evenly; */
    place-content: space-evenly space-evenly;
    place-items: center center;

    @include media(){
        place-content: space-evenly space-evenly;
        place-items: center center;
        grid-template-columns: repeat(2, 200px);
    }

    img{
        height: 354px;
        width: 230px;
    }
    .img{
        box-sizing: border-box;
        background-color: white;
        border: solid 3px whitesmoke;
        border-radius: 3px;
        height: 360px;
        width: 236px;
    }
}


/*Agregar titulo de Novedades*/

/* .cont-1 .h2{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 80px;
    color: white;

} */

/* .h2{
    background-color: black;
    padding: 10px 10px;
} */





/*Contactos*/

.contact{
    background-color: #ffffff;
    height: 80vh;
    // width: 1150px;
    width: 100%;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 150px;
    // border-left:solid 3px black;
    // border-right:solid 3px black;
    h2{
        text-align: center;
        font-size: 33px;
    }
    p{
        padding: 10px;
        margin:10px 10px;
        font-size: 22px;
        font-weight: 400;
        font-family: "Montserrat";
        font-family: sans-serif;
        line-height: 1.2;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        color: black;
        margin-left: 22px;
    }
    a i{
        color: red;
        font-size: 20px;
        margin-right: 10px;
        margin-left: 5px;
    }
    form .campo, textarea{
        width: 100%;
        height: 30px;
        padding: 15 10px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 400;
        border: solid 1px black;
        border-radius: 3px;
        outline: 0px;
    }
    .btn-enviar{
        background-color: rgb(245, 131, 2);
        padding: 10px;
        font-size: 16px;
        border: solid 1px rgb(51, 47, 47);
        border-radius: 3px;
        outline: 0px;
        cursor: pointer;
        transition: all 300ms ease;
        &:hover{        
            background-color:  rgb(245, 131, 2);
            color: white;
            box-shadow: 0 0 15px  rgb(245, 131, 2);
            box-shadow: 0 0 25px  rgb(245, 131, 2) }
    }
    // .btn-enviar:hover{
    //     background-color:  rgb(245, 131, 2);
    //     color: white;
    //     box-shadow: 0 0 15px  rgb(245, 131, 2);
    //     box-shadow: 0 0 25px  rgb(245, 131, 2);
    // }
    label{
        color: black;
        font-size: 22px;
        font-weight: 700;
    }
}




/*FAQ*/

.contenedor{
    background-color: #C4D7E6;
    text-align: center;
    /* height: 80vh; Agregar h min*/
    min-height: 800px;
    width: 100%;
    h2{
        padding: 20px;
        text-align: center;
    }
    .faq{
        padding: 20px;
    }
    button{
        padding: 10px 10px;
        background-color: rgb(68, 188, 218);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: 200px;
    }
}


/*COMIC y MANGA*/

/*Centrar El karrusel*/

@mixin karrusel(){
    @media screen and (max-width:480px) {
        @content;
    }
}
@mixin karrusel-2(){
    @media screen and (max-width:319px) {
        @content;
    }
}
.bloque{
    @include karrusel(){
        height: 100%;
    }
    .Karrusel-tamaño{
    width: 500px;
    height: 700px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    @include karrusel(){
        width: 480px;
    }
    @include karrusel-2(){
        width: 319px;
    }
    }
    .slide{
        margin-top: 50px;
    }
    img{
        height: 65vh;
    }
    a{
        text-decoration: none;
    }
}


/*Merchandaising*/




/*Footer*/
footer{
    background-color: #24252a;
    /*position: absolute;
    bottom: 0;*/
    width: 100%;
    height: 150px;
    /* height: 10vh; */
    /* width: 1880px; */
    /* display: flex; */

    @include media(){
        width: 1150px;
    }

    .pie{
        display: flex;
        justify-content: space-around;
        /* padding: 15px; */
        align-items: center;
    }
    .logo{
        /* display: flex; */
        /* align-items: center; */
        /* gap: 10px; */
        height: 7vh;
    }
    .logotipo{
        font-size: 25px;
        font-weight: 400;
        color: white;
        text-align: center;
        font-family: 'Bruno Ace SC', cursive;
    }
    p{
        font-size: 15px;
    }
    span{
        font-size: 30px;
    }
    i{

        text-decoration: none; color: white;
        margin: px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
        transition: .3 ease;
    }
    .fa-youtube{
        background-color: red;
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: red;
            color: white;
            box-shadow: 0 0 15px red;
            box-shadow: 0 0 45px red;
            box-shadow: 0 0 75px red;
        }
    }
    
    .fa-instagram{
        background-color: rgb(189, 42, 91);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(217, 44, 154);
            color: white;
            box-shadow: 0 0 15px rgb(217, 44, 154);
            box-shadow: 0 0 45px rgb(217, 44, 154);
            box-shadow: 0 0 75px rgb(217, 44, 154);
        }
    }
    
    
    .fa-whatsapp{
        background-color: rgb(37, 187, 37);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(53, 214, 39);
            color: white;
            box-shadow: 0 0 15px rgb(53, 214, 39);
            box-shadow: 0 0 45px rgb(53, 214, 39);
            box-shadow: 0 0 75px rgb(53, 214, 39);
        }
    }
    
    
    .fa-linkedin{
        background-color: rgb(43, 97, 184);
        padding: 2px;
        border-radius: 10px;
        color: white;
        &:hover{
            background-color: rgb(28, 70, 177);
            color: white;
            box-shadow: 0 0 15px rgb(28, 70, 177);
            box-shadow: 0 0 45px rgb(28, 70, 177);
            box-shadow: 0 0 75px rgb(28, 70, 177);
        }
    }
    
}


















