/* Error: Undefined mixin.
 *     ,
 * 139 | /     @include media(){
 * 140 | |         place-content: space-evenly space-evenly;
 * 141 | |         place-items: center center;
 * 142 | |         grid-template-columns: repeat(2, 200px);
 * 143 | \     }
 *     '
 *   css\estilos.scss 139:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 139 \2502  \250c      @include media(){\a 140 \2502  \2502          place-content: space-evenly space-evenly;\a 141 \2502  \2502          place-items: center center;\a 142 \2502  \2502          grid-template-columns: repeat(2, 200px);\a 143 \2502  \2514      }\a     \2575 \a   css\\estilos.scss 139:5  root stylesheet";
}
